.container
	%h2 New Comment
	%ul
		- @comment.errors.full_messages.each do |message|
			%li= message
	= form_with(model: @comment, url: card_comments_path(@comment.card), local: true) do |f|
		%div
			= f.text_area :content
		= f.submit 'Submit', class: 'btn-primary'