<div class="container">
	<h2>All Board</h2>
  <% @tasks.each do |task| %>
		<%= render 'task', task: task  %>
  <% end %>
	<%= link_to new_task_path do %>
		<div class="card add">
			<div class="card_content">
				<div class="add_new">+ Add new borad</div>
			</div>
		</div>
	<% end %>
</div>